:root{
--primary-color: #4338ca;
--dark-grey: #64748b;
--light-blue: #a6e1fa;
--light-grey: #f1f5f9;
--white: #FFFFFF;
}
body{
    text-align: center;
}

.btn-radio{
    display: inline;
    vertical-align: text-bottom; 
}

input, label, button{
    display: block;
    margin-top: 1.5rem;
}

input{
    height: 1rem;
    border-radius: 1rem;  
}

.brand-name{
    float: left;
    font-size: x-large;
}

.nav-bar{
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
}

.nav-bar .nav-pills{
    text-align: center;
}

.list-inline{
    display: inline;
}

.nav-bar .link{
    color: var(--white);
    text-decoration: none;
    padding: 2rem;
    font-size: larger;
}

.nav-bar .active{
    font-weight: bold;
}
