:root{
--primary-color: #4338ca;
--dark-grey: #64748b;
--light-blue: #a6e1fa;
--light-grey: #f1f5f9;
--white: #FFFFFF;
}
body{
    background-color: var(--light-grey);
}
.container{
    margin: 0% 40%;
    width: 80%;
}

.heading{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--primary-color);
}

.btn-radio{
    display: inline;
    vertical-align: text-bottom; 
}
label{
    font-weight: bold;
}
input, label, button{
    display: block;
    margin-top: 1.2rem;
}

input{
    height: 1.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem; 
}

.brand-name{
    float: left;
    font-size: x-large;
}

.nav-bar{
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
}

.nav-bar .nav-pills{
    text-align: center;
}

.list-inline{
    display: inline;
}

.nav-bar .link{
    color: var(--white);
    text-decoration: none;
    padding: 2rem;
    font-size: larger;
}

.nav-bar .active{
    font-weight: bold;
}

.btn-submit{
    margin-left: 1rem;
    width: 7rem;
    height: 3rem;
    border: 1px solid var(--white);
    border-radius: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary-color);
}

.output-message{
    font-size: large;
    font-weight: bold;
}
